kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: kindest/node:v1.23.0@sha256:49824ab1727c04e56a21a5d8372a402fcd32ea51ac96a2706a12af38934f81ac
  extraPortMappings:
  - containerPort: 6789
    hostPort: 6789
    protocol: TCP
  - containerPort: 30707
    hostPort: 30707
    protocol: TCP
  - containerPort: 30777
    hostPort: 30777
    protocol: TCP
  - containerPort: 30789
    hostPort: 30789
    protocol: TCP
  - containerPort: 32763
    hostPort: 32763
    protocol: TCP

